@model List<laboratorio3.Models.MovieModel>;
@{
    ViewData["Title"] = "Movies";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Genre</td>
                    <td>@item.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button>I am a button</button>
</div>