@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>¿Qué diablos es "among us"? Soy una madre preocupada con un niño de 13 años y estoy aquí para buscar ayuda con respecto a mi hijo. La semana pasada, cuando fuimos al supermercado, mi hijo señaló un bote de basura rojo y comenzó a saltar gritando "¡ESO ES UN AMONG US! ¡ESE BOTE DE BASURA ES SUS! ¡EL ROJO ES EL IMPOSTOR! " Tan pronto como hizo eso, el gerente nos dijo que nos fuéramos. Le dije que mi hijo estaba emocionado por algo y me disculpé. Pero el gerente todavía nos dijo que nos fuéramos, así que recogí el bote de basura rojo por el que mi hijo se estaba volviendo loco y se lo tiré a la cabeza. Entonces mi hijo gritó "DEAD BODY REPORTED". ¿Puede alguien decirme qué diablos le pasa?</p>
